@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Bodoni+Moda:opsz@6..96&family=Caveat+Brush&family=Roboto:wght@300&family=Rubik&family=Ubuntu:ital,wght@1,500&display=swap');

:root {
    --font-alkatra: 'Alkatra', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #9494fa;
    font-family: 'Rubik', sans-serif;;
}

header {
    margin: 50px 0 2px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: var(--font-alkatra);
    color: #f7f8f8;
    font-size: 2.8rem;
    letter-spacing: 2px;
    text-shadow: 1px 1px 6px rgb(79, 76, 76);
}

.quote {
    margin-left: 270px;
    position: relative;
    font-weight: bold;
}

.quote p {
    opacity: 0.4;
}

.quote span {
    position: absolute;
    right: 0;
    font-family: var(--font-alkatra);
}

.modal {
    display: none;
}

label {
    font-size: 1.1rem;
}

#book-input-form {
    background-color: rgb(187, 205, 205);
    border-radius: 6px;
    padding: 20px;
    width: 500px;
}

input[type="text"], input[type="number"] {
    display: block;
    width: 100%;
    padding: 7px 10px;
    margin: 5px 0 6px 0;
    border-radius: 8px;
    border: solid rgb(182, 182, 182) 1px;
}

input[type="checkbox"] {
    transform: scale(1.3);
}

input[type="submit"] {
    width: 100%;
    margin-top: 10px;
    padding: 10px 10px;
    border-radius: 8px;
    border: solid rgb(42, 42, 42) 1px;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: beige;
}

#book-input-form div:last-of-type {
    display: flex;
    align-items: center;
    gap: 10px;
}

.book-section {
    display: grid;
    margin: 40px;
    padding: 30px;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    min-height: 300px;
    background-color: #bfbfd6;
    border-radius: 10px;
}

.book-card {
    background-color: #ffffff;
    padding: 15px 6px;
    border-radius: 10px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    box-shadow: 2px 2px 7px #7e7ead;
    position: relative;
}

.book-title {
    font-size: 1.5rem;
    border-bottom: solid rgb(224, 218, 218) 2px;
    margin-bottom: 10px;
}

.book-condition-btn {
    border-style: none;
    padding: 10px 20px;
    border-radius: 7px;
    margin-top: 50px;
    font-weight: bold;
    background-color: #c9c9df;
}

.book-condition-btn:hover {
    border: solid rgb(149, 145, 145) 1px;

}

.remove-btn {
    border-style: none;
    background-color: transparent;
    padding: 5px 20px;
    font-size: 1.6rem;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
}

.remove-btn:hover {
    color: #9494fa;
}

.add-book-btn {
    padding: 10px 25px;
    font-size: 3rem;
    border-radius: 100px;
    position: absolute;
    right: 0;
    margin-right: 10px;
    border-style: none;
    background-color: #8e8eb7;
    transition: 0.5s;
}

.add-book-btn:hover {
    transform: scale(1.2);
    color: white;
}